.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: whitesmoke;

    header {
        text-align: center;
        background-color: var(--color-primary);
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
        color: var(--color-secondary);
        padding: 1.2rem;
        vertical-align: middle;

        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1em;
        }
    }

    main {
        flex: 1;
        overflow: auto;
        padding-top: 2em;
        color: var(--color-secondary);
    }
}