<div class="products-page">

    <div class="header">
        <div class="search">
            <input
                type="text"
                name="search"
                placeholder="Buscar"
                (keyup)="updateSearch($event)"
                [disabled]="loading()"
                />
        </div>
        <div class="add">
            <a [routerLink]="['create']">
                <button class="primary">Agregar</button>
            </a>
        </div>
    </div>
    
    @if (loading()) {
        <app-table-skeleton [rows]="7" helperText="Cargando ..."/>
    }

    <app-product-list
        [class.hidden]="loading()"
        [products]="filteredProducts"
        (onDelete)="productToDelete.set($event)"
        />

    @if (productToDelete()) {
        <app-confirmation-modal
            [message]="getDeleteMessage()"
            (onCancel)="productToDelete.set(null)"
            (onConfirm)="deleteProduct()"
            />
    }

</div>