.products-page {

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        margin-bottom: 2rem;

        input {
            padding: 1rem;
            font-weight: bold;
        }
    }

}