.product-list {
    background-color: white;
    overflow: auto;
    
    &> div {
        min-width: 800px;
    }

    table {
        thead {
            font-weight: bold;
            background-color: #eee;
            text-align: left;
        }
    
        tr {
            border-bottom: 1px solid #bbb;
        }

        th, td {
            padding: 1rem;
        }

        .logo {
            padding: 0;
            text-align: center;
            vertical-align: middle;

            img {
                width: 35px;
                height: 35px;
                border-radius: 50%;
                overflow: hidden;
                box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
                object-fit: cover;
            }
        }

        tfoot {
            button {
                padding: 0.25rem 0.5rem;
                border: solid 1px #ccc;
                box-shadow: none;
            }
        }
    }
}