<div class="product-list">
    <div>
        <table>
            <thead>
                <tr>
                    <th>Logo</th>
                    <th>Nombre del producto</th>
                    <th>Descripción</th>
                    <th>Fecha de liberación</th>
                    <th>Fecha de revisión</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @for (product of pagedProducts(); track $index) {
                <tr>
                    <td class="logo">
                        <img
                            [src]="product.logo"
                            alt="Logo del producto"
                            onerror="this.src = '/product-default.png'"
                            >
                    </td>
                    <td class="data">
                        <span>Nombre:</span> {{ product.name }}
                    </td>
                    <td class="data">
                        <span>Descripción:</span> {{ product.description }}
                    </td>
                    <td class="data">
                        <span>Liberación:</span> {{ product.date_release }}
                    </td>
                    <td class="data">
                        <span>Revisión:</span> {{ product.date_revision }}
                    </td>
                    <td class="menu">
                        <app-dropdown
                            [buttonText]="'⁝'"
                            [options]="getProductOptions(product)"
                            />
                    </td>
                </tr>
                }
            </tbody>
        </table>
        <div class="summary">
            @if (products().length === 0) {
                <div>
                    <span>
                        No se encontraron productos
                    </span>
                </div>
            }
            @else {
                <div>
                    <span>{{ products().length }} resultados</span>
                    <span> | </span>
                    <span> 
                        Máximo
                        <select
                            name="pagination"
                            [value]="productsPerPage()"
                            (change)="handleProductsPerPageChange($event)"
                            >
                            <option [value]="5">5</option>
                            <option [value]="10">10</option>
                            <option [value]="20">20</option>
                        </select>
                        por página
                    </span>
                </div>
                <div>
                    <app-pagination
                        [totalItems]="products().length"
                        [pageSize]="productsPerPage()"
                        (changePage)="handlePageChange($event)"
                        />
                </div>
            }
        </div>
    </div>
</div>