.dropdown {
    position: relative;
    text-align: center;
    cursor: pointer;

    span {
        font-weight: bolder;
        font-size: 1.5rem;
        display: block;
    }

    ul {
        text-align: left;
        padding: 0;
        margin: 0;
        list-style-type: none;
        background-color: white;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;

        li {
            padding: 0.5rem 1rem;
            text-decoration: none;
            &:hover {
                background-color: #f1f1f1;
            }
            
            a {
                text-decoration: none;
                color: black;
            }
        }
    }
}