* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: #FFEC01;
    --color-secondary: #1B2D55;
    --color-danger: #cc3333e0;
    --color-sucess: #4abb4a;
    --color-warning: #ffee00;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 1rem;
}

table {
    width: 100%;
    border-collapse: collapse;
}

input {
    font-size: 1rem;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn,
button,
input[type="submit"],
input[type="button"],
input[type="reset"] {
    font-size: 1rem;
    padding: 1rem;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
    display: inline-block;
    width: 100%;

    &.primary {
        background-color: var(--color-primary);
        font-weight: bold;
    }
    &.secondary {
        background-color: var(--color-secondary);
        color: white;
    }
    &.success {
        background-color: var(--color-sucess);
        color: white;
    }
    &.danger {
        background-color: var(--color-danger);
        color: white;
    }
    &.warning {
        background-color: var(--color-warning);
    }
}
